<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
  <ion-toolbar>
    <nav>
      <ul class="nav-links">
        <li class="link"><a href="#section--1" class="nav-link">Technologies</a></li>
        <li class="link"><a href="#section--2" class="nav-link">Projects</a></li>
        <li class="link"><a href="#section--3" class="nav-link">About Me</a></li>
        <button class="btn link"><a href=".footer" class="nav-link">Contact Me</a></button>
      </ul>
    </nav>    
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <header class="container section">
    <div class="content">
        <h1 class="header__title">
          Hello There, <br> 
          I'm <span class="blur"></span><span>Guilherme</span>
          <span class="blur"></span>,<br>
          <span class="blur"></span> 
          Front-end 
          <span class="blur"></span>
          <span>Developer</span>
          <br><button class="btn--text btn--scroll-to">See more &DownArrow;</button></h1>
        
    </div>
    <div class="image">
        <img src="https://i.im.ge/2024/06/06/K6sGvq.308.jpeg" class="img__home">
    </div>
  </header>
  <section class="section" id="section--1">
    <div class="section__title">
      <h2 class="section__description">Technologies</h2>
      <h3 class="section__header">
        My Knowledge
      </h3>
    </div>
    
    <div class="slider">
      <div class="slide slide--1">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=javascript" class="testimonial__photo"/>  JavaScript</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            JavaScript is my main programming language. I've been studying it since the beginning of 2022 until now (June 2024). I've practiced many concepts in my projects, as you will see in the next section. Most of these projects were developed primarily using pure JavaScript. Currently, I'm studying asynchronous JavaScript after spending several weeks using and testing APIs.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--2">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=nodejs" class="testimonial__photo"/>  Node.Js</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Node.js is the first JavaScript library that I started using. It is probably the easiest one, and I really loved it for being so smooth and clean.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--3">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=typescript" class="testimonial__photo"/>  TypeScript</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            TypeScript has impressed me since I discovered the language while searching for new languages to learn after delving deeper into JavaScript. I really like how it gives you confidence that your code will work, and not having dynamic types has helped me avoid small bugs when parsing types. I really want to learn more about it.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--4">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=cpp" class="testimonial__photo"/>  C++</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I've had many programming logic classes in the past year, and most of them were using C++. I didn't like the structure because it was so repetitive and hard to remember, but after some time, it becomes easier. It's good for creating games, but it is not a language that I plan to use in the future.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--5">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=java"class="testimonial__photo"/>  Java</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I have a difficult relationship with Java. I dislike it because it is so hard and confusing, and it gives errors for almost everything that is considered acceptable in other languages. However, I have to admit that it helps you write correct code when you follow its logic.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--6">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=html" class="testimonial__photo"/>  HTML</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            The best way to start in front-end development is not through a specific programming language, but it is very good to start this way. It probably won't make you give up and will show you the tip of the iceberg that is the programming universe.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--7">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=css" class="testimonial__photo"/>  CSS</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I really admire those who know how to use CSS well. I do my best, but I know I wasn't born to do it. I'd say CSS is similar to HTML in that it is easy to begin with.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--8">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=scss" class="testimonial__photo"/>  SCSS</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            A very useful CSS library, when using TypeScript, is a great alternative to traditional CSS.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--9">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=github" class="testimonial__photo"/>  GitHub</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I have been posting my code on GitHub since 2021, and I love saving my code in the cloud. GitHub's functionalities, like GitHub Pages, are great and provide free hosting for your websites.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--10">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=figma" class="testimonial__photo"/>  Figma</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I started using Figma this year for school projects. I found it to be a really helpful and easy-to-understand tool for visualizing how your application will look.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--11">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=git" class="testimonial__photo"/>  Git</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I'm studying more about Git and saving files locally, and it has already helped me when I accidentally deleted the code from one of my school projects.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--12">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=angular" class="testimonial__photo"/>  Angular</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            I'll say that I'm in love with Angular. It's pretty, simple, clean, and very useful. I'm going to study more about this framework and delve deeper into its syntax.          
          </blockquote>
        </div>
      </div>

      <div class="dots"></div>
      <button class="slider__btn slider__btn--left">&larr;</button>
      <button class="slider__btn slider__btn--right">&rarr;</button>
    </div>
  </section>

  <section class="section" id="section--2">
    <div class="section__title">
      <h2 class="section__description">Projects</h2>
      <h3 class="section__header">
        All my most recents projects and its objectives
      </h3>
    </div>

    <div class="projects">
      <a href="https://guilhermerezende10.github.io/JavaScript/projetos/Bankist/index.html" target="_blank" rel="external">
        <img
          src="https://i.im.ge/2024/06/07/KtOLf8.Captura-de-tela-2024-06-06-171256.png"
          alt="Bankist home page"
          class="projects__img lazy-img"
        />
      </a>
      <div class="projects__feature">
        <div class="projects__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-monitor"></use>
          </svg>
        </div>
        <h5 class="projects__header">Bankist</h5>
        <p>
          The Bankist site is an application developed during a JavaScript course that includes everything you need in a bank. During this lecture, I delved deeper into array methods and how to use them. Methods such as forEach, map, filter, reduce, find, findIndex, some, every, flat, flatMap, and many others were used in this small project. You can access it using the following accounts: 
          User: gr, PIN: 6407 <br>
          User: jd, PIN: 2222

        </p>
      </div>

      <div class="projects__feature">
        <div class="projects__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-trending-up"></use>
          </svg>
        </div>
        <h5 class="projects__header">Bankist Website</h5>
        <p>
          Bankist is a website that showcases the services of Bankist Bank. I created this project during a course, and it was very helpful for learning many concepts such as smooth scrolling, event delegation, DOM traversing, event handlers, creating slider components, sticky navigation, and more.
        </p>
      </div>

      <a href="https://guilhermerezende10.github.io/JavaScript/projetos/Bankist-Website/index.html" target="_blank" rel="external">
        <img
          src="https://i.im.ge/2024/06/07/KtOrNx.Captura-de-tela-2024-06-06-170921.png"
          alt="Bankist Website home page"
          class="projects__img lazy-img"
        />
      </a>

      <a href="https://guilhermerezende10.github.io/JavaScript/projetos/TicTacToe/index.html" target="_blank" rel="external">
        <img
          src="https://i.im.ge/2024/06/08/KCjrV1.Captura-de-tela-2024-06-08-143125.png"
          alt="Tic Tac Toe home page"
          class="projects__img lazy-img"
        />
      </a>
      <div class="projects__feature">
        <div class="projects__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-credit-card"></use>
          </svg>
        </div>
        <h5 class="projects__header">Tic Tac Toe</h5>
        <p>
          This is a small minigame that I made to test myself. It took me two hours and was a good opportunity to practice some concepts I needed to work on. The code is quite simple and easy, but it's always good to create a new project and code by yourself.
        </p>
      </div>

      <div class="projects__feature">
        <div class="projects__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-credit-card"></use>
          </svg>
        </div>
        <h5 class="projects__header">MathTech Project</h5>
        <p>
          This is an educational support website that I created for a school project (ETEC-PG) in 2023. On it, you can solve basic operations, perform exponentiation and root calculations, calculate areas and volumes, use a helpful multiplication table, and work with equations.
        </p>
      </div>

      <a href="https://guilhermerezende10.github.io/MathTech-project/new-website/index.html" target="_blank" rel="external">
        <img
          src="https://i.im.ge/2024/06/08/KCUbJX.Captura-de-tela-2024-06-08-125547.png"
          alt="MathTech home page"
          class="projects__img lazy-img"
        />
      </a>

    </div>
  </section>


  <section class="section" id="section--3">
    <div class="section__title">
      <h2 class="section__description">About Me</h2>
      <h3 class="section__header">
        Who am I?
      </h3>
    </div>

    <div class="aboutme">
      <div class="aboutme__content">
        <h4>Guilherme Rezende Silva</h4>
        <p>I'm a sixteen-year-old boy with a passion for programming and problem-solving. I'm in high school at ETEC-PG, in the second year of the Systems Development course. I was introduced to programming by my mother's uncle, who, despite not working in the field, showed me some tricks on Google by changing the JavaScript of the page. This fascinated me like nothing before. Since then, I've studied a lot and found my way in the vast coding universe.
        </p>

        <p>I began with basic HTML and CSS, then moved on to JavaScript, which remains my favorite language. Simultaneously, I had classes at school on programming logic, where I delved deeply into C++. This year, I started studying Java for mobile development and encountered TypeScript and Angular, which I am currently studying. I also completed three semesters of database classes and put in my best effort to learn it, understanding its importance.
        </p>

        <p>As you've probably noticed, I have advanced/fluent English, built up over several years at CNA. I love the language and actually consume more content in English than in my native language.
        </p>

        <p>This is me. I'm currently open to a part-time job or internship to gain experience and learn how a real-world application works. Thank you for reading!</p>
      </div>

      <div class="image">
        <img src="https://i.im.ge/2024/06/10/KEOATa.Imagem-do-WhatsApp-de-2024-06-09-as-16-44-10-79d10325.jpeg" class="img__home">
     </div>
    </div>

  </section>

  <footer class="footer">
    <div class="socials">
        <p>Contact Me  &RightArrow;</p>
        <a href="https://github.com/guilhermerezende10" target="_blank" rel="external"><i class="ri-github-line"></i></a>
        <a href="https://www.instagram.com/guilhermerezende.10/" target="_blank" rel="external"><i class="ri-instagram-line"></i></a>
        <a href="https://www.linkedin.com/in/guilherme-rezende-518297235/" target="_blank" rel="external"><i class="ri-linkedin-line"></i></a>
        <br><p>My email: rezendeguilherme733&#64;gmail.com</p>
    </div>
   </footer>

</ion-content>
