<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
  <ion-toolbar>
    <nav>
      <ul class="nav-links">
          <li class="link"><a href="#">Home</a></li>
          <li id="link1" class="link"><a href="#">Technologies</a></li>
          <li id="link2" class="link"><a href="#">Projects</a></li>
          <li id="link3" class="link"><a href="#">About Me</a></li>
      </ul>
      <button class="btn">Contact Me</button>
    </nav>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <header class="container section">
    <div class="content">
        <h1 class="header__title">
          Hello There, <br> 
          I'm <span class="blur"></span><span>Guilherme</span>
          <span class="blur"></span>,<br>
          <span class="blur"></span> 
          Front-end 
          <span class="blur"></span>
          <span>Developer</span>
          <br><button class="btn--text btn--scroll-to">See more &DownArrow;</button></h1>
        
    </div>
    <div class="image">
        <img src="https://i.im.ge/2024/06/06/K6sGvq.308.jpeg" class="img__home">
    </div>
  </header>
  <section class="section" id="section--1">
    <div class="section__title">
      <h2 class="section__description">Technologies</h2>
      <h3 class="section__header">
        My Knowledge
      </h3>
    </div>
    
    <div class="slider">
      <div class="slide slide--1">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=javascript" class="testimonial__photo"/>  JavaScript</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--2">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=nodejs" class="testimonial__photo"/>  Node.Js</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--3">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=typescript" class="testimonial__photo"/>  TypeScript</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--4">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=cpp" class="testimonial__photo"/>  C++</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--5">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=java"class="testimonial__photo"/>  Java</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--6">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=html" class="testimonial__photo"/>  HTML</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--7">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=css" class="testimonial__photo"/>  CSS</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--8">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=scss" class="testimonial__photo"/>  SCSS</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--9">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=github" class="testimonial__photo"/>  GitHub</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--10">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=figma" class="testimonial__photo"/>  Figma</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--11">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=git" class="testimonial__photo"/>  Git</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="slide slide--12">
        <div class="testimonial">
          <h5 class="testimonial__header"><img src="https://skillicons.dev/icons?i=angular" class="testimonial__photo"/>  Angular</h5>
          <address class="testimonial__author">
          </address>
          <blockquote class="testimonial__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima
            deleniti optio ullam nesciunt, numquam corporis et asperiores
            laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus
            id alias reiciendis, perferendis facere pariatur dolore veniam
            autem esse non voluptatem saepe provident nihil molestiae.
          </blockquote>
        </div>
      </div>

      <div class="dots"></div>
      <button class="slider__btn slider__btn--left">&larr;</button>
      <button class="slider__btn slider__btn--right">&rarr;</button>
    </div>
  </section>

  <footer class="container">
    <div class="socials">
        <a href="https://github.com/guilhermerezende10" target="_blank" rel="external"><i class="ri-github-line"></i></a>
        <a href="https://www.instagram.com/guilhermerezende.10/" target="_blank" rel="external"><i class="ri-instagram-line"></i></a>
        <a href="https://www.linkedin.com/in/guilherme-rezende-518297235/" target="_blank" rel="external"><i class="ri-linkedin-line"></i></a>
    </div>
   </footer>

</ion-content>
